{{define "htmxImportBookForm" }}
  <form
    hx-post="/books/import"
    hx-swap="innerHTML"
    hx-target="#book-form"
    enctype="multipart/form-data"
    class="space-y-6">

  <div class="grid grid-cols-1 gap-6">
    <div>
       <label for="isbn" class="block text-sm font-medium text-slate-700 mb-1">ISBN</label>
         <input type="text"
                  name="isbn"
                  id="isbn"
                  value="{{or .Form.ISBN .Book.ISBN}}"
                  placeholder="Enter ISBN-10 or ISBN-13"
                  class="block w-full rounded-md border-slate-300 shadow-sm focus:border-teal-500 focus:ring-teal-500"/>
         {{with .Form.FieldErrors.isbn}}
             <p class="mt-1 text-sm text-red-600">{{.}}</p>
         {{end}}
    </div>
  </form>
{{end}}
